# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=
AUTH_TRUST_HOST=http://localhost:3000

# supabase
DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# stripe
MONTLHY_PRICE_ID=
STRIPE_SECRET_KEY=
STRIPE_CUSTOMER_PORTAL_URL=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# confirmação de email
RESEND_API_KEY=
#dev
NEXT_PUBLIC_APP_URL=http://localhost:3000

# dev - não ta usando
ABACATE_PAY_API_KEY=